<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="CodeHim">
    <title> Bootstrap 5 Product Details #3 Example </title>
    <!-- Style CSS -->
    <link rel="stylesheet" href="/public/assets/css/css/PlaceOrder.css">
    <!-- Demo CSS (No need to include it into your project) -->
    <!-- <link rel="stylesheet" href="./css/demo.css"> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
        integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-daterangepicker@3.0.5/daterangepicker.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body">
                        <ol class="activity-checkout mb-0 px-4 mt-3">
                            <li class="checkout-item">
                                <div class="avatar checkout-icon p-1">
                                    <div class="avatar-title rounded-circle bg-primary">
                                        <i class="bx bxs-receipt text-white font-size-20"></i>
                                    </div>
                                </div>
                                <div class="feed-item-list">
                                    <div>
                                        <h5 class="font-size-16 mb-1">Billing Info</h5>
                                        <p class="text-muted text-truncate mb-4">Sed ut perspiciatis unde omnis iste</p>
                                        <div class="mb-3">
                                            <form id="forms" method="post">
                                                <div>
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label class="form-label"
                                                                    for="billing-name">Name</label>
                                                                <input required type="text" class="form-control"
                                                                    id="billing-name" placeholder="Enter name"
                                                                    name="name">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label class="form-label"
                                                                    for="billing-email-address">Email Address</label>
                                                                <input required type="email" class="form-control"
                                                                    id="billing-email-address" placeholder="Enter email"
                                                                    name="email">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-3">
                                                                <label class="form-label"
                                                                    for="billing-phone">Phone</label>
                                                                <input required type="text" class="form-control"
                                                                    id="billing-phone" placeholder="Enter Phone no."
                                                                    name="phone">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label class="form-label" for="billing-address">Address</label>
                                                        <textarea required class="form-control" id="billing-address" rows="3"
                                                            placeholder="Enter full address" name="Address"></textarea>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="mb-4 mb-lg-0">
                                                                <label class="form-label">Country</label>
                                                                <select class="form-control form-select" id="Country"
                                                                    name="Country">
                                                                    title="Country">
                                                                    <option value="0">Select Country</option>
                                                                    <option value="AF">Afghanistan</option>
                                                                    <option value="AL">India</option>
                                                                    <option value="DZ">Algeria</option>
                                                                    <option value="AS">American Samoa</option>
                                                                    <option value="AD">Andorra</option>
                                                                    <option value="AO">Angola</option>
                                                                    <option value="AI">Anguilla</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <div class="mb-4 mb-lg-0">
                                                                <label class="form-label"
                                                                    for="billing-city">City</label>
                                                                <input required type="text" class="form-control"
                                                                    id="billing-city" placeholder="Enter City"
                                                                    name="city">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <div class="mb-0">
                                                                <label class="form-label" for="zip-code">Zip / Postal
                                                                    code</label>
                                                                <input required type="text" class="form-control" id="zip-code"
                                                                    placeholder="Enter Postal code" name="postalcode">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text-end mt-2 mt-sm-0"
                                                    style="display: flex;justify-content: center;align-items: center;">
                                                    <button class="btn btn-success" type="submit" style="margin: 15px;">
                                                        <i class="mdi mdi-map-marker me-1"></i> Add Address
                                                    </button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="checkout-item">
                                <div class="avatar checkout-icon p-1">
                                    <div class="avatar-title rounded-circle bg-primary">
                                        <i class="bx bxs-truck text-white font-size-20"></i>
                                    </div>
                                </div>
                                <div class="feed-item-list">
                                    <div>
                                        <h5 class="font-size-16 mb-1">Shipping Info</h5>
                                        <p class="text-muted text-truncate mb-4">Neque porro quisquam est</p>
                                        <div class="mb-3">
                                            <div class="row">

                                                <div class="row">
                                                    <% for (let i=0; i < useraddress.length; i++) { %>
                                                        <% for (let j=0; j < useraddress[i].addresses.length; j++) { %>
                                                            <div class="col-lg-4 col-sm-6">
                                                                <div data-bs-toggle="collapse">
                                                                    <label class="card-radio-label mb-0">
                                                                        <input type="radio"
                                                                            value="<%=useraddress[i].addresses[j]._id %>"
                                                                            name="address" id="info-address<%= i + 1 %>"
                                                                            class="address card-radio-input" <%
                                                                            if(i===0){%>checked<%} %>
                                                                            >
                                                                            <div class="card-radio text-truncate p-3">
                                                                                <span class="fs-14 mb-4 d-block">Address
                                                                                    <%= j +1 %>
                                                                                </span>


                                                                                <span class="fs-14 mb-2 d-block">
                                                                                    <%= useraddress[i].addresses[j].firstname
                                                                                        %>
                                                                                </span>
                                                                                <span
                                                                                    class="text-muted fw-normal text-wrap mb-1 d-block">
                                                                                    <%= useraddress[i].addresses[j].address
                                                                                        %>
                                                                                </span>
                                                                                <span
                                                                                    class="text-muted fw-normal d-block">Mo.
                                                                                    <%= useraddress[i].addresses[j].mobile
                                                                                        %>
                                                                                </span>
                                                                            </div>
                                                                    </label>
                                                                    <div class="edit-btn bg-light rounded">
                                                                        <a href="#" data-bs-toggle="tooltip"
                                                                            data-placement="top" title=""
                                                                            data-bs-original-title="Edit">
                                                                            <i class="bx bx-pencil font-size-16"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% } %>
                                                                <% } %>
                                                </div>



                                                <!-- <div class="col-lg-4 col-sm-6">
                                                    <div>
                                                        <label class="card-radio-label mb-0">
                                                            <input type="radio" name="address" id="info-address2"
                                                                class="card-radio-input">
                                                            <div class="card-radio text-truncate p-3">
                                                                <span class="fs-14 mb-4 d-block">Address 2</span>
                                                                <span class="fs-14 mb-2 d-block">Bradley
                                                                    McMillian</span>
                                                                <span
                                                                    class="text-muted fw-normal text-wrap mb-1 d-block">109
                                                                    Clarksburg Park Road Show Low, AZ 85901</span>
                                                                <span class="text-muted fw-normal d-block">Mo.
                                                                    012-345-6789</span>
                                                            </div>
                                                        </label>
                                                        <div class="edit-btn bg-light  rounded">
                                                            <a href="#" data-bs-toggle="tooltip" data-placement="top"
                                                                title="" data-bs-original-title="Edit">
                                                                <i class="bx bx-pencil font-size-16"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </li>
                            <li class="checkout-item">
                                <div class="avatar checkout-icon p-1">
                                    <div class="avatar-title rounded-circle bg-primary">
                                        <i class="bx bxs-wallet-alt text-white font-size-20"></i>
                                    </div>
                                </div>
                                <div class="feed-item-list">
                                    <div>
                                        <h5 class="font-size-16 mb-1">Payment Info</h5>
                                        <p class="text-muted text-truncate mb-4">Duis arcu tortor, suscipit eget</p>
                                    </div>
                                    <div>
                                        <h5 class="font-size-14 mb-3">Payment method :</h5>
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-6">
                                                <!-- <div data-bs-toggle="collapse">
                                                    <label class="card-radio-label">
                                                        <input type="radio" name="pay-method" id="pay-methodoption1"
                                                            class="card-radio-input">
                                                        <span class="card-radio py-3 text-center text-truncate">
                                                            <i class="bx bx-credit-card d-block h2 mb-3"></i>
                                                            Credit / Debit Card
                                                        </span>
                                                    </label>
                                                </div> -->
                                            </div>

                                            <div class="col-lg-3 col-sm-6">
                                                <!-- <div>
                                                    <label class="card-radio-label">
                                                        <input type="radio" name="pay-method" id="pay-methodoption2"
                                                            class="card-radio-input">
                                                        <span class="card-radio py-3 text-center text-truncate">
                                                            <i class="bx bxl-paypal d-block h2 mb-3"></i>
                                                            Paypal
                                                        </span>
                                                    </label>
                                                </div> -->
                                            </div>

                                            <div class="col-lg-3 col-sm-6">
                                                <div>
                                                    <label class="card-radio-label">
                                                        <input type="radio" name="pay-method" id="pay-methodoption3"
                                                            value="cash_on_delivery" class="card-radio-input"
                                                            checked="">
                                                        <i class="bx bx-money d-block h2 mb-3"></i>
                                                        <span>Cash on Delivery</span>
                                                        <input type="radio" name="pay-method" id="pay-methodoption3"
                                                            value="Razorpay" class="card-radio-input" checked="">
                                                        <i class="bx bx-money d-block h2 mb-3"></i>
                                                        <span>Razorpay</span>
                                                        <span class="card-radio py-3 text-center text-truncate">


                                                        </span>
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col">
                        <a href="ecommerce-products.html" class="btn btn-link text-muted">
                            <i class="mdi mdi-arrow-left me-1"></i> Continue Shopping </a>
                    </div> <!-- end col -->
                    <div class="col">
                        <div class="text-end mt-2 mt-sm-0">
                            <a href="#" class="btn btn-success" id="PlaceOrder">
                                <i class="mdi mdi-cart-outline me-1"></i> Procced </a>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row-->
            </div>
            <div class="col-xl-4">
                <div class="card checkout-order-summary">
                    <div class="card-body">
                        <div class="p-3 bg-light mb-3">
                            <h5 class="font-size-16 mb-0">Order Summary <span class="float-end ms-2">#
                                    </span></h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-centered mb-0 table-nowrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0" style="width: 110px;" scope="col">Product</th>
                                        <th class="border-top-0" scope="col">Product Quantity</th>
                                        <th class="border-top-0" scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% let subtotal=0; %>
                                        <% cartData.cartItems.forEach(item=> { %>
                                            <tr>
                                                <td>
                                                    <h5 class="font-size-16 text-truncate">
                                                        <a href="#" class="text-dark">
                                                            <%= item.productName %>
                                                        </a>
                                                    </h5>
                                                    <p class="text-muted mb-0">
                                                        <% for (let i=0; i < item.Quantity; i++) { %>
                                                            <i class="bx bxs-star text-warning"></i>
                                                            <% } %>
                                                    </p>
                                                    <p class="text-muted mb-0 mt-1"> <%= item.SalesPrice %> x <%=
                                                                item.Quantity %>
                                                    </p>
                                                </td>
                                                <td>
                                                    <%= item.Quantity %>
                                                </td>
                                                <td> <%= item.total %>
                                                </td>
                                            <tr data-product-id="<%= item.productId %>">
                                            </tr>
                                            <% subtotal += item.Quantity * (item.offerPrice || item.SalesPrice); %>
                                            <% }); %>
                                            <td colspan="2">
                                                        <h5 class="font-size-14 m-0">Discount :</h5>
                                                    </td>
                                                <tr>

                                                    <td colspan="2">
                                                        <h5 class="font-size-14 m-0">Total :</h5>
                                                    </td>
                                                    <td>
                                                         <span id="tot">
                                                            <%= grandTotal %>
                                                        </span>
                                                        <input type="hidden" id="subtotals" value="<%= subtotal %>">
                                                        <input type="hidden" id="grandTotal" value="<%= grandTotal%>">
                                                    </td>
                                                </tr>
                                                <!-- Other rows for Discount, Shipping Charge, Estimated Tax, Total -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-9">
                        <input type="text" id="couponInput" placeholder="Paste coupon here">
                        <button class="btn btn-primary" id="applyCouponBtn">Apply Coupons</button>
                        
                    </div>
                    <div class="col-sm-3">
                        <a class="btn btn-primary" href="#" id="CouponBtn">Coupons</a>

                    </div>


                    <!-- Bootstrap Modal -->
                    <div class="modal" id="couponModal" tabindex="-1" role="dialog">
                        <!-- Modal content -->
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Coupon Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Display coupon details here -->
                                    <table class="coupon-table">
                                        <thead>
                                            <tr>
                                                <th>Coupon Code</th>
                                                <th>Minimum Purchase</th>
                                                <th>Discount %</th>
                                                <th>Action</th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                            <% coupons.forEach(coupon=> { %>
                                                <tr>
                                                    <td>
                                                        <%= coupon.couponeCode %>
                                                    </td>
                                                    <td>
                                                        <%= coupon. minPurchase %>
                                                    </td>
                                                    <td>
                                                        <%= coupon. minDiscountPercentage %>
                                                    </td>
                                                    <td>
                                                        <button type="button"
                                                            class="btn btn-success copy-btn">Copy</button>
                                                    </td>

                                                </tr>
                                                <% }); %>
                                        </tbody>

                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>



            <!-- end row -->

        </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
    integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-daterangepicker@3.0.5/daterangepicker.js"></script>


</html>

<script>
    const variable = document.getElementById("forms")

    variable.addEventListener("submit", function (currentevent) {
        currentevent.preventDefault()
        const Nvariable = new FormData(variable)
        const name = Nvariable.get('name')
        const email = Nvariable.get('email');
        const phone = Nvariable.get('phone');
        const address = Nvariable.get('Address');
        const Country = Nvariable.get('Country');
        const City = Nvariable.get('city');
        const Postalcode = Nvariable.get('postalcode');
        const subtotal = document.getElementById('subtotals').value

        console.log(name);
        console.log(email);
        console.log(phone);
        console.log(address);
        console.log(Country);
        console.log(City);
        console.log(Postalcode);

        console.log(name)
        console.log(Nvariable)
        console.log(subtotal)
        $.ajax({
            url: "/Address",
            method: "POST",
            data: Nvariable,
            processData: false, // Important for FormData
            contentType: false, // Important for FormData
            success: function (data) {
                if (data.status == 200) {
                    alert("address added successfully")
                }
                else {
                    alert("address not added")
                }
            },
            error: function (error) {
                console.log(error.message)
            }
        })
        fetch('/Address', {
            method: "post",
            headers: {
                'Content-Type': 'application/json', // Set the content type to JSON
            },
            body: JSON.stringify({
                name: name,
                email: email,
                phone: phone,
                address: address,
                Country: Country,
                City: City,
                Postalcode: Postalcode,
                subtotal: subtotal
            }),
        }).then((response) => {
            if (response.status == 200) {
                alert("Address added sucessfull")
            }
            else {
                alert("cannot add address")
            }
        })
            .catch(error => {
                console.log(error.message)
                alert(error.message)
            })



    })

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>

<script>
    const orderPlace = document.getElementById('PlaceOrder')

    orderPlace.addEventListener('click', function (e) {
        e.preventDefault()
        //const paymentMethod = document.getElementById('pay-methodoption3').value;
        var payment = $("#pay-methodoption3:checked").val();
        const address = $(".address:checked").val();
        const subTotal = document.getElementById('tot').innerHTML
        const rows = document.querySelectorAll('tr[data-product-id]');
        $.ajax({
            url: "/placeOrder",
            method: "POST",
            data: {
                paymentMethod: payment,
                subTotal: subTotal,
                address
            },
            success: function (response1) {
                console.log(response1)
                if (response1.razorpay) {
                    alert(response1.order.id)
                    var options = {
                        "key": "rzp_test_DmLWhiTnpo71jP", // Enter the Key ID generated from the Dashboard
                        "amount": response1.order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                        "currency": "INR",
                        "name": "footRobe",
                        "description": "Test Transaction",
                        "image": "http://localhost:3000/images/logo.png",
                        "order_id": response1.order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                        "handler": function (response) {
                            verifyPayment(response, response1);
                        },
                        "prefill": {
                            "name": "footRobe",
                            "email": "cycleshop@gmail.com",
                            "contact": "8089568695"
                        },
                        "notes": {
                            "address": "Razorpay Corporate Office"
                        },
                        "theme": {
                            "color": "#3399cc"
                        }
                    };
                    var rzp1 = new Razorpay(options);
                    rzp1.open();

                }

                if (response.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Order Placed',
                        text: "Order successfully placed",
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = "/thankyou";
                        }
                    });
                }
            },
            error: function (error) {
                if (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Order Cannot Place',
                        text: "Internal server error",
                    });
                }
            }
        });

    })

    function verifyPayment(response, order) {
        $.ajax({
            url: '/verify-payment',
            method: 'post',
            data: {
                response,
                order
            },
            success: (response) => {
                if (response) {
                    Swal.fire({
                        title: "Order success",
                        text: "You'r order has been succesfully placed",
                        icon: "success",
                        showCancelButton: true,
                        confirmButtonText: "View Orders",
                        cancelButtonText: "Continue shopping",
                        reverseButtons: true
                    })
                    .then(function (result) {
                      if (result.value) {
                          
                        location.href = '/orderDetails';
                          // result.dismiss can be "cancel", "overlay",
                          // "close", and "timer"
                      } else if (result.dismiss === "cancel") {
                          location.href = '/mensPage'
                      }
                  });

                } else {
                    Swal.fire("PAYMENT ERROR!", "Something wrong occured while processing the payment.", "error");
                }
            }
        })
    }

    
    
</script>
<script>

    // JavaScript code to handle button click and show modal 
    document.getElementById("CouponBtn").addEventListener("click", function (event) {
        event.preventDefault(); // Prevent default behavior of anchor tag

        // Simulated coupon details (replace this with your actual coupon data)
        const coupon = {
            couponCode: "ABC123",
            validity: new Date("2023-12-31"),
            minPurchase: 50,
            minDiscountPercentage: 10,
            description: "Get 10% off on purchases above $50",
            createdAt: new Date()
        };

        // Display coupon details in the modal
        const couponDetailsElement = document.getElementById("couponDetails");


        // Show the Bootstrap modal
        $('#couponModal').modal('show');
    });






</script>




<!-- Your HTML code remains the same -->



<script>
    $(document).ready(function () {
        $('.copy-btn').click(function () {
            // Find the coupon code in the same row as the clicked button
            var couponCode = $(this).closest('tr').find('td:first').text().trim();

            // Copy the coupon code to the clipboard
            navigator.clipboard.writeText(couponCode)
                .then(function () {
                    // Paste the copied coupon code into the input field
                    $('#couponInput').val(couponCode);

                    // Optional: Provide feedback that the code has been copied
                    alert('Coupon code copied: ' + couponCode);
                })
                .catch(function (err) {
                    console.error('Unable to copy: ', err);
                });
        });
    });
</script>

    // <script>
    // // document.getElementById('applyCouponBtn').addEventListener('click', async (e) => {
    //     e.preventDefault()
    //     console.log("Coupon applyCouponBtn")
    //     const couponInput = document.getElementById('couponInput').value;
    //     console.log("couponcode :" + couponInput)
    //     try {
    //         const response = await fetch('/couponApply', {
    //             method: 'POST',
    //             headers: {
    //                 'Content-Type': 'application/json'
    //             },
    //             body: JSON.stringify({ couponCode: couponInput })
    //         });

    //         if (response.ok) {
    //             // Handle successful response
    //             const data = await response.json();
    //             console.log(data.message); // Log the response message
    //         } else {
    //             // Handle error response
    //             console.error('Error applying coupon');
    //         }
    //     } catch (error) {
    //         console.error('Error applying coupon:', error);
    //     }
    // });

//     $(document).ready(function(){
//     $('#applyCouponBtn').on('click', function(e) {
//         e.preventDefault();

//         const couponCode = $('#couponInput').val();
//         console.log("coupon :", couponCode);

//         $.ajax({
//             url: '/couponApply', // Send the request to '/couponApply'
//             method: "POST",
//             data: { couponCode: couponCode }, // Send couponCode as data
//             success: function(response) {
//                 alert(`${response}`);
//             },
//             error: function(xhr, status, error) {
//                 alert(`Error: ${error}`);
//             }
//         });
//     });
// });

// </script>
    
// <script>
//     $(document).ready(function()
//     {
//        const button = document.getElementById('applyCouponBtn')
//        button.addEventListener('click', function(e)
//        {
//         e.preventDefault()

//         const couponCode = document.getElementById('couponInput').value
//         const gtotal = document.getElementById('subtotal')

//         console.log(gtotal)
//         const gtotalTrim = gtotal.textContent.trim()
//         const grandTotal = parseFloat(gtotalTrim.replace('₹', ''))

//         $.ajax({
//             url:`/applycoupon/${couponCode}/?grandtotal=${grandTotal}`,
//             method:'GET',
//             success:(response)=>
//             {
//                 console.log(response)
//                 if(response.status)
//                 {
//                    alert("Coupon applied successfully")
//                    const toalString = document.getElementById('subtotal').innerText
//                    const total = parseFloat(toalString)
//                 //    document.getElementById('couponDiscount').innerText = response.discount + '%';
//                 //    document.getElementById('discount').textContent ='₹'+ response.discountAmount
//                 //    document.getElementById('grandtotal').textContent = '₹' + Math.floor(total - response.discountAmount);
//                    document.getElementById('subtotal').value =  + Math.floor(total - response.discountAmount);
//                 }
//                 else
//                 {
//                     alert(response.message)
//                 }
//             },
//             error:(err)=>
//             {
//                 if(err.status === 400)
//                 {
//                      alert(err.responseJSON.message)
//                 }
//                 else
//                 {
//                     alert('An error occured while applying the coupon')
//                 }
//             }
//         })
        
//        }) 
//     })
//     </script>
    
    <script>
$(document).ready(function() {
  const button = document.getElementById('applyCouponBtn');
  button.addEventListener('click', function(e) {
    e.preventDefault();

    const couponCode = document.getElementById('couponInput').value;
    const gtotal = document.getElementById('grandTotal').value;
    console.log("sddd :", gtotal)
    const grand = parseInt(gtotal)
    console.log("DDD", grand);

    $.ajax({
      url: `/applycoupon/${couponCode}`,
      method: 'POST',
      data: { grandtotal: grand }, // Send data as object
      success: (response) => {
        console.log("SSS", response);
        if (response.status) {
          alert("Coupon applied successfully");
          document.getElementById('tot').innerText = response.total.toFixed(2);
        } else {
          alert(response.message);
        }
      },
      error: (err) => {
        if (err.status === 400) {
          alert(err.responseJSON.message);
        } else {
          alert('An error occurred while applying the coupon');
        }
      }
    });
  });
});
</script>